@page "{id}"
@using LatinMedia.Core.Convertors
@using LatinMedia.DataLayer.Entities.Course
@using LatinMedia.Core.Services.Interfaces
@using LatinMedia.Core.Security
@model LatinMedia.Web.Pages.Leon.Teachers.TeacherEventsModel
@inject ICourseService CourseService
@{
    ViewData["Title"] = "وقایع مدرس";
}

    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <h2>
                    لیست وقایع مدرس
                </h2>
                <ul class="nav navbar-right panel_toolbox">
                    <li>
                        <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                    </li>


                </ul>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">

                <div class="col-md-12 col-sm-12 col-xs-12">
                    @if (Model.ShowClassEventsViewModels.Count == 0)
                    {
                        <div class="alert alert-danger ">
                            رکوردی یافت نشد
                        </div>
                    }

                    <div id="datatable-checkbox_wrapper" class="dataTables_wrapper form-inline dt-bootstrap no-footer">

                        <div class="row">
                            <div class="col-sm-12">

                                @{
                                    int rowCount = 1;
                                }
                                <table id="datatable-checkbox" class="table table-striped table-bordered bulk_action dataTable no-footer" role="grid" aria-describedby="datatable-checkbox_info">
                                    <thead>
                                        <tr role="row">
                                            <th>ردیف</th>
                                            <th>نوع فعالیت</th>
                                            <th>نام و نام خانوادگی</th>
                                            <th>عنوان کلاس</th>
                                            <th>تاریخ ایجاد</th>
                                            <th>توضیحات</th>
                                            <th>IP سیستم</th>
                                        </tr>
                                    </thead>

                                    <tbody>

                                        @foreach (var item in Model.ShowClassEventsViewModels)
                                        {
                                            <tr role="row" class="odd">
                                                <td>@rowCount</td>
                                                <td>@item.EventName</td>
                                                <td>@item.TeacherName</td>
                                                <td>@item.CourseName</td>
                                                <td>@item.CreateDate</td>
                                                <td>@item.Extra</td>
                                                <td>@item.TeacherIP</td>
                                            </tr>
                                            rowCount++;
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>


                    </div>
                    <hr class="col-md-12" />
                    <div class="item form-group">
                        <div class="col-md-12 col-sm-12 col-xs-12 col-md-offset-5">
                            <a asp-page="Index" class="btn btn-warning">بازگشت</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
