@model IEnumerable<LatinMedia.DataLayer.Entities.Course.UserCourse>
@using LatinMedia.Core.Security
@using LatinMedia.Core.Convertors
@using LatinMedia.Core.Services.Interfaces
@inject ICourseService CourseService
@{
    ViewData["Title"] = "UserCourses";
}

<div class="content">
    <div class="container-fluid">

        <div class="row">

            <div class="col-md-10">
                <div class="card">
                    <div class="card-header card-header-primary">
                        <h4 class="card-title">لیست کلاس های شما</h4>
                        <p class="card-category"></p>
                    </div>
                    <div class="card-body">

                        <div class="row ">

                            <table class="table table-bordered table-hover table-striped col-md-11  ">
                                <tr class="table-info">
                                    <th>ردیف</th>
                                    <th>عنوان کلاس</th>

                                    <th>ورود به کلاس</th>

                                </tr>
                                @{
                                    int RowCount = 1;
                                }
                                @foreach (var item in Model)
                                {
                            <tr>
                                <td>@RowCount</td>
                                <td>@(item.Course.CourseFaTitle)</td>
                                @if (DateTime.Compare(DateTime.Now, item.Course.CreateDate) < 0)
                                {
                                    <td>
                                        <span>زمان شروع کلاس @item.Course.CreateDate.ToShamsi()</span>
                                    </td>
                                }


                                else if (DateTime.Compare(DateTime.Now, item.Course.CreateDate) >= 0 &&
                                    DateTime.Compare(DateTime.Now, item.Course.EndDate) <= 0)
                                {
                                    @if (CourseService.CheckForRedirectToPolling(item.UserId))
                                    {
                                        <td>
                                            <a href="/UserPanel/Survay" class="btn btn-danger btn-xs">نظرسنجی </a>
                                        </td>
                                    }
                                    else
                                    {
                                    <td>
                                        <a href="@(item.Course.CourseLatinTitle)" class="btn btn-success btn-xs">پیوستن به کلاس </a>
                                    </td>
                                    }
                                    
                                }

                                @*else if (DateTime.Compare(DateTime.Now, item.Course.CreateDate) >= 0 &&
            DateTime.Compare(DateTime.Now, item.Course.EndDate) <= 0)
        {
            if (DateTime.Now.Hour < item.Course.CreateDate.Hour || DateTime.Now.Hour > item.Course.CreateDate.Hour + 2.5)
            {
                <td>
                    <span>زمان شروع کلاس @item.Course.CreateDate.AddDays(1).ToShamsi()</span>
                </td>
            }
            else
            {
                <td>
                    <a href="@(item.Course.CourseLatinTitle)" class="btn btn-success btn-xs">پیوستن به کلاس </a>
                </td>
            }

        }*@

                                else if (DateTime.Compare(DateTime.Now, item.Course.EndDate) > 0)
                                {
                                    <td>
                                        <span>کلاس خاتمه یافته است</span>
                                    </td>
                                }


                            </tr>
                                    RowCount++;
                                }


                            </table>
                        </div>
                    </div>
                </div>
            </div>


        </div>

    </div>
</div>


