@using LatinMedia.Core.Security;
@{
    ViewData["Title"] = "Start a meeting";
}
@model Sample.Models.StartModel
@if (Model == null)
    {
        await Html.RenderPartialAsync("_APISettingsWarningPartial");
    }
    else
    {
        string FullName = User.Identity.GetGender() + " " + User.Identity.Name;
    <div class="section-wrap">
        <div class="section demo">
            <div class="form-popup ">

                <!-- FORM POPUP HEADLINE -->
                <div class="form-popup-headline primary">
                    <h2>فرم ورود به کلاس</h2>

                </div>
                <!-- /FORM POPUP HEADLINE -->
                <!-- FORM POPUP CONTENT -->
                <div class="form-popup-content">
                    <form asp-action="Start" method="post">
                        <label>نام</label>
                        <input type="text" asp-for="Name" value="@FullName" visible="false" readonly="readonly" placeholder="نام خود را وارد کنید">
                        <span asp-validation-for="Name"></span>
                        <br />
                        <input type="hidden" id="id" asp-for="@Model.Id" />
                        <input type="hidden" id="Url" asp-for="@Model.Url" />
                        <input type="hidden" id="ServerId" asp-for="@Model.ServerId" />
                        <input type="hidden" id="Name" asp-for="@Model.Name" />
                        <input type="hidden" id="MaxUsers" asp-for="@Model.MaxUsers" />
                        <input type="hidden" id="ClassName" asp-for="@Model.ClassName" />
                        <input type="hidden" id="Duration" asp-for="@Model.Duration" />
                        <input type="submit" class="button mid dark" value="ورود به کلاس" />
                    </form>

                </div>
                <!-- /FORM POPUP CONTENT -->

            </div>
            <div class="clearfix"></div>
        </div>
    </div>




    @*using (Html.BeginForm("Start", "Zoom", FormMethod.Post, new { @class = "form-horizontal", target = "_blank" }))
        {
            @Html.ValidationSummary(true)
            <div class="form-group">
                <div class="container">
                    <div class="row">
                        @Html.LabelFor(m => m.Url, new { @class = "col-md-2 control-label" })
                        <div class="col-md-10">
                            <div class="input-group">
                                @Html.TextBoxFor(m => m.Url, new { @class = "form-control", @readonly = "readonly", id = "txtUrl" })
                                <span class="input-group-btn">
                                    <button class="btn btn-secondary" type="button" onclick="docopy()">Copy</button>
                                </span>
                            </div>
                            <p class="help-block">Please copy the url to your friends and invite them to enter the meeting.</p>
                        </div>
                    </div>
                </div>


            </div>
            <div class="form-group">
                <div class="container">
                    <div class="row">
                        @Html.LabelFor(m => m.Name, new { @class = "col-md-2 control-label" })
                        <div class="col-md-10">
                            <div class="input-group">
                                @Html.TextBoxFor(m => m.Name, new { @class = "form-control", placeholder = "Please enter your name and click \"Start\" to start the meeting." })
                                <span class="input-group-btn">
                                    <button class="btn btn-primary" type="submit">Start</button>
                                </span>
                            </div>
                            @Html.ValidationMessageFor(m => m.Name)
                        </div>
                    </div>
                </div>


            </div>
            @Html.HiddenFor(m => m.Id)

        }

        @section Scripts {
            <script>
                function docopy() {
                    var ctrl = document.getElementById("txtUrl");
                    ctrl.select();
                    document.execCommand("copy");
                }
            </script>
        }*@
}
